header#headerPrincipal{
    background-color: RGBA(29,29,29,0.8);
    width: 100%;
    position: fixed;
    .logo{
        margin: 0px;
        flex-basis: 30%;
    }
    .menu{
        flex-basis: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            display: flex;
            margin: 0px;
            @media (max-width:768px){
                display:none;
            }
            li{
                padding: 20px;
                list-style: none;
                a{
                    cursor: pointer;
                    color: #FFF;
                    
                }
            }
        }
        .menu_mobile{
            display: none;
            @media (max-width:768px){
                display:block;
            }
            button{
                background-color: $colorGreenDefault;
            }
        }
    }
    
}