#banner{
    width: 100%;
    
    background: url(../../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-top: 100px;
    .banner-info{
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        h1{
            font-size:26px;
        }
        p{
            margin-bottom: 30px;
        }
    }
}

#oQueFazemos{
    background: $bckgDefault;
    padding-bottom: 0px;
    .container{
        flex-wrap: wrap;
        padding-bottom: 0px;
        .cards-o{
            display: flex;
            width: 100%;
            @media (max-width:900px){
                flex-wrap: wrap;
            }
            
            .cards-o-container{
                background-color: #FFF;
                margin: 10px;
                width: 100%;
                margin-bottom: 0px;
                @media (max-width:900px){
                    width: 30%;
                }

                @media (max-width:650px){
                    width: 45%;
                }
                .o_fazemos{
                    font-size: 60px;
                    display: flex;
                    align-items: flex-end;
                    margin: 0px;
                    font-weight: bold;
                    width: 80%;
                    align-items: baseline;
                    text-align: right;
                    justify-content: space-between;
                    span{
                        margin-right: 10px;
                        width: 80px;
                        height: 7px;
                        background:$colorGreen2Default;
                    }
                }
                p{
                    text-align: center;                    
                    padding: 10px;
                }
            }
            
        }
    }
}

#quemSomos{
    .container{
        flex-wrap: wrap;
        .quem-somos-container{
            flex-basis: 100%;
            display: flex;
            article{
                width: 100%;
                img{
                    max-width: 100%;
                }
                p{
                    &.title{
                        color: $colorGreenDefault;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
}