#banner{
    width: 100%;
    
    background: url(../../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-top: 100px;
    .banner-info{
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        h1{
            font-size:26px;
        }
        p{
            margin-bottom: 30px;
        }
    }
}

#oQueFazemos{
    background: $bckgDefault;
    .container{
        flex-wrap: wrap;
        .cards-o{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            .cards-o-container{
                background-color: #FFF;
                margin: 10px;
                
                .o_fazemos{
                    font-size: 60px;
                    display: flex;
                    align-items: flex-end;
                    margin: 0px;
                    font-weight: bold;
                    width: 80%;
                    align-items: baseline;
                    text-align: right;
                    justify-content: space-between;
                    span{
                        margin-right: 10px;
                        width: 80px;
                        height: 7px;
                        background:$colorGreen2Default;
                    }
                }
                p{
                    text-align: center;                    
                    padding: 10px;
                }
            }
            
        }
    }
}